# Hugging Face Storage Bucket & Remote Setup
HF_BUCKET=hf://buckets/gouravbirwaz/COD_dataset
HF_TOKEN=your_hugging_face_token_here

# Hugging Face S3 Gateway Credentials for DVC
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here

# Project Path Configurations
DATA_DIR=data/raw/dataset-splitM
MODEL_DIR=models
CHECKPOINT_DIR=models/raw_checkpoints
LOG_DIR=metrics

# Training Control
RESUME=false
